@import "tailwindcss";

@theme {
  --font-display: "Inter", "sans-serif";
}

#__nuxt {
  height: 100%;
}

/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: var(--color-gray-100);
  border-radius: 5px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: var(--color-gray-200);
  border-radius: 5px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: var(--color-gray-300);
}

* {
  scrollbar-color: var(--color-gray-200) var(--color-gray-100);
  scrollbar-width: thin;
}
